# frozen_string_literal: true

<div class="detail-content">
  <h2>404 Not Found</h2>
  <p>The requested URL <%= request.url %> was not found on this server.</p>
</div>

<div class="center">
  <button type="button" class="center" onclick="location.href='/'">TOPページ</button>
</div>
