<form method="post" action="/memo/">
  <div class="form-items">
    <div class="form-items__item">
    <label>件名</label>
      <input type= "text" name="title">
    </div>
    <div class="form-items__item">
    <label>内容</label>
      <textarea name="body"></textarea>
    </div>
  </div>
  <div class="form-action">
    <input type= "submit" class="center" value="保存">
  </div>
</form>
