<div class="detail-content">
  <h2><%= h @content['title'] %></h2>
  <p><%= (h @content['body']).gsub(/\R/, "<br>") %></p>
</div>

<div class="flexbox">
  <div class="box-item">
    <button type="button" class="center" onclick="location.href='/memo/<%= @content['id'] %>/edit'">変更</button>
  </div>
  <div class="box-item">
    <form method="post" action="/memo/<%= @content['id'] %>" onSubmit="return confirm('削除しますか?'); ">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" class="center" value="削除">
    </form>
  </div>
</div>
